$btn-background: #212121;
.oe_custom_bg {
  background-size: cover !important;
}

#seller_info {
  margin: 10px auto;
}

#wrapwrap {
  #btn_seller_shop {
    visibility: unset;
  }
  .all-seller-label + div.mt16 {
    margin-top: 9px !important;
  }
  form[action="/sellers/list/"] {
    background: #ffffff;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    .input-group {
      align-items: center;
      input {
        height: 31px;
        border: none;
      }
      .oe_search_button {
        background-color: #ffffff !important;
        border: 1.5px solid #808080;
        box-shadow: none;
        color: #c6c6c6;
        margin: 0 !important;
      }
    }
  }
  .default-color {
    background-color: transparent !important;
  }
  #btn-create-review {
    width: 150px;
  }
  #shop-nav-tabs {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $primary;
    li {
      margin-right: 10px;
      a {
        color: #ffffff !important;
        border: none;
        background-color: $primary !important;
        border-radius: 0;
        transition: all 0.6s;
        &:hover {
          color: $success !important;
        }
        &.active {
          background-color: $success !important;
          &:hover {
            color: #ffffff !important;
          }
        }
      }
    }
  }
  #profile_recently_product_tab {
    display: none;
  }
  #seller_review_sort {
    background: #ffffff !important;
    padding: 0 !important;
    nav {
      &.navbar-light.bg-light {
        background-color: #333333 !important;
        .navbar-collapse {
          color: #ffffff;
        }
      }
    }
    ul:not(.justify-content-end) {
      li {
        margin: 0 !important;
      }
    }
    ul.justify-content-end {
      li:last-child {
        margin-right: 28px !important;
        margin-top: 10px !important;
      }
    }
  }
  #sellers_grid {
    .o_wsale_products_grid_table_wrapper {
      tbody {
        td {
          border: none !important;
          transition: 0.6s all;
          padding: 1rem;
          .view-profile {
            font-style: normal;
            font-weight: 600 !important;
            font-size: 14px;
            line-height: 17px;
            color: #717171 !important;
            &:hover {
              color: $success !important;
            }
          }
          &:hover {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);
          }
        }
      }
    }
  }

  #seller_name_and_rating {
    b {
      font-style: normal;
      font-weight: 600 !important;
      font-size: 38px;
      line-height: 46px;
      color: #000000;
    }
  }
}

#wrap {
  & > .container:not(.mb16) {
    .col-md-12 {
      & > .row:nth-child(3) {
        .col-md-2 {
          padding: 0;
          span {
            font-style: normal;
            font-weight: 600 !important;
            font-size: 18px;
            line-height: 22px;
            color: #555555 !important;
            background: none;
            background-color: transparent !important;
            box-shadow: none;
          }
          &:first-child {
            span {
              &:before {
                content: "\f1b3";
              }
            }
          }
        }
      }
      & > .row:last-child {
        align-items: center;
        .col-md-6 {
          order: 1;
        }
        .col-md-3:first-child {
          order: 2;
          .btn {
            background-color: $success !important;
          }
        }
        .col-md-3:last-child {
          a {
            float: none;
          }
        }
      }
    }
  }
}

.active-sort-tab {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

li > #most_helpful_tab:hover,
li > #most_recent_tab:hover {
  cursor: pointer;
}

#pink_panther,
#tab22,
#seller_all_prod,
#seller-info-pannel {
  .list-mode {
    display: none;
  }

  box-shadow: none !important;
  & > .card-header {
    background-color: transparent;
  }
  .o_wsale_products_grid_table_wrapper {
    tbody {
      td.oe-height-2 {
        height: 25rem;
        .o_wsale_product_grid_wrapper {
          height: 100%;
        }
      }
    }
    .oe_subdescription {
      display: none;
    }
  }
  .o_wsale_product_btn {
    a {
      &.btn-secondary {
        display: none;
      }
    }
    .product_price_list_view {
      display: none;
    }
    & > a,
    & > button {
      background: $btn-background !important;
    }
  }
  .o_website_rating_static {
    margin-top: 4px;
  }
  .product_price {
    margin-bottom: 4px;
  }
  .vt_list_price {
    .product_price {
      display: none;
    }
    .vt_css_quantity {
      justify-content: center;
      .input-group-prepend {
        border: 1px solid rgba(0, 0, 0, 0.125);
      }
      input {
        border: 1px solid rgba(0, 0, 0, 0.125);
      }
      .input-group-append {
        border: 1px solid rgba(0, 0, 0, 0.125);
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #wrapwrap {
    .divider.hidden-xs {
      & + .nav-item {
        display: none !important;
      }
    }
  }
}
